@font-face {
    font-family: "PixelOperator";
    src: url("../static/fonts/PixelOperator.ttf") format("truetype");
}

:root {
    /* Tema Claro-Oscuro */
    color-scheme: light dark;

    /* Variables */
    --primary-color: #FFD93D;
    --background: #111111;

    --text-light: #FFFFFF;

    --dark-border-light: 2px solid #FFFFFF;
    --border-radius: 3px;

    --font-family-primary: monospace;
    --font-family-pixel: "PixelOperator";
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    --line-height: 1.45rem;
    --transition: 0.3s ease;
    
}

/* HTML y tema claro/oscuro */
html {
  scroll-behavior: smooth;
}

html.dark {
    --background: #111111;
    --text-color: #FFFFFF;
    --border-color: 1px solid #FFFFFF;
}

html:not(.dark) {
    --background: #FFFFFF;
    --text-color: #000000;
    --border-color: 1px solid #000000;
}

/* Body */
body {
    /* Reset de estilos */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Colores */
    background-color: var(--background);
    color: var(--text-color);

    /* Fuente */
    font-family: var(--font-family-primary);
    line-height: var(--line-height);
}

/* Header */
header {
    /*background-color: orange;*/

    display: flex;
    padding: 20px  20px;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-between;
}

header span {
    /*background-color: #805AD5;*/

    display: flex;
    align-items: center;
    font-family: var(--font-family-pixel);
    font-size: 30px;
}

nav {
    /*background-color: #805AD5;*/

    display: flex;
    justify-content: center;    /* Alinea horizontalmente */
    align-items: center;        /* Alinea verticalmente */

    padding: 4px;
    gap: 1.8rem;
    border-radius: var(--border-radius);
    backdrop-filter: blur(10px);
}

.navlink {
    color: var(--text-color);
    text-decoration: none;
    font-size: 12px;
    transition: var(--transition);
}

.navlink:hover {
    color: var(--primary-color);
}

.theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-btn img {
    width: 16px;
    height: 16px;
    transition: var(--transition)
}

.theme-btn img:hover {
    filter: invert(0.5);
}

/* Tema claro — debe mostrar la luna */
.icon-sun {
    display: none;
}

.icon-moon {
    display: inline;
}

/* Tema oscuro — debe mostrar el sol */
html.dark .icon-sun {
    display: inline;
}

html.dark .icon-moon {
    display: none;
}

/* Estilo común para <section> */
section {
    /*background-color: #FFD93D;*/

    padding: 50px 20px;
}

/* Estilo común para "section-title" */
.section-title {
    /*background-color: blueviolet;*/
    
    display: flex;
    justify-content: center;

    font-family: var(--font-family-pixel);
    font-size: 40px;
    line-height: 1;
}

/* Hero Section */
.hero-container {
    /*background-color: aqua;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-text {
    font-family: var(--font-family-pixel);
    font-size: 45px;
}

.hero-text h5 {
    font-size: 20px;
    font-weight: var(--font-extra-light);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 20px;
}

.social-links a {
    position: relative;
    color: var(--background);
    background-color: var(--text-color);
    padding: 8px;
    text-decoration: none;
    border: var(--border-color);
    border-radius: var(--border-radius);

    transition: color 0.3s ease; /* para el texto */
}

/* Capa animada */
.social-links a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background-color: var(--background); /* el color invertido */

    transition: width 0.35s ease;
    z-index: 1;
}

/* Texto encima del efecto */
.social-links a span {
    position: relative;
    z-index: 2;
}

.social-links a:hover {
    color: var(--text-color); /* color invertido para el texto */
}

.social-links a:hover::after {
    width: 100%; /* activa el barrido */
}

/* Experience Section */
.experience-container {
    /*background-color: aqua;*/

    display: flex;
    justify-content: space-between;
}

.experience-container-left {
    /*background-color: bisque;*/

    flex: 1;    /* Ocupa 1/3 del espacio */
    padding: 8px;
}

.experience-container-left h2 {
    font-family: var(--font-family-pixel);
    font-size: 30px;
}

.experience-container-right {
    /*background-color: bisque;*/

    padding: 8px;
    margin-left: 100px;
    flex: 3;    /* Ocupa los 2/3 del espacio restante */
}

.experience-container-right h2 {
    font-family: var(--font-family-pixel);
    font-size: 30px;
}

.experience-container-right p {
    font-family: var(--font-family-pixel);
    font-size: 20px;
}

/* Projects Section */
.projects-container {
    /*background-color: #FFD93D;*/

    display: flex;
    gap: 1.5rem;
}

.project-card {
    /*background-color: #FFD93D;*/

    display: flex;
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
}

.project-container-item {
    /*background-color: aqua;*/

    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: var(--font-family-pixel);
    font-size: 20px;
    padding: 8px;
    
}

.projects-container h2 {
    margin-top: 0;
}

.project-tech-stack {
    display: flex;
    margin-top: auto;
    gap: 1.5rem;
}

.project-tech-stack span {
    padding: 8px;
    border: var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    color: var(--background);
}

.project-tech-stack span:hover {
    /* Añadir animación */
}